.img-div-center 
    {
    height: 100px;
    position: relative;
    }
.img-centro-vert-hor
    {
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }